<form [formGroup]="productoForm" novalidate (ngSubmit)="guardar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="productoForm.controls['nombre'].hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio" formControlName="precio">
            <mat-error *ngIf="productoForm.controls['precio'].hasError('required')">
              El precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
